{% extends 'sudoku/layout.html' %}

{% block title %}
    <div class="container" align="center">
      <div class="jumbotorn">
        <h1>Welcome to Sudoku Solver</h1>
        <p>{{ description }}</p>
      </div>
      <br>
{% endblock %}

{% block body %}
  {% include 'sudoku/grid.html' with grid=grid %}
  <p></p>
  <div class="container" align="center">
    <a href="{% url 'sudoku:solved' id=id%}"">
      <button id='brestart' type="button" class="btn btn-primary btn-lg" name="button">Solve</button>        
    </a>
  </div>
{% endblock %}

